
  <div class="card">
    <div class="album text-center">
      <span class="album-id" data-album=<%= album["id"]%> hidden></span>
      <%= image_tag album["cover_medium"], alt: 'Album photo', class: 'album-photo', 'data-album': album["id"] %>
      <h3 class="album-name"><%= album["title"] %></h3>
      <p class="album-style"></p>
    </div>
  </div>

