<%= link_to '#', class: 'clickable-card' do %>
<div class="card">
  <div class="artist text-center">
    <%= image_tag "https://vignette.wikia.nocookie.net/chimeraband/images/5/56/Nirvana_logo.jpg/revision/latest?cb=20140926185651", alt: 'Artist photo', class: 'artist-photo' %>
    <h3 class="artist-name">Nirvana</h3>
    <p class="artist-style">Grunge</p>
  </div>
</div>
<% end %>
