<div class="long-card">
  <div class="news">
    <%= link_to '#', class: 'clickable-card' do %>
    <div>
      <%= image_tag "http://resize-rfm.ladmedia.fr/r/,/img/var/rfm/storage/images/news/johnny-hallyday-un-spectacle-hommage-se-prepare-pour-2019-13437/189990-1-fre-FR/Johnny-Hallyday-Un-spectacle-hommage-se-prepare-pour-2019.jpg", class: 'thumbnail' %>
    </div>
    <% end %>
    <%= link_to '#', class: 'clickable-card' do %>
    <div class="content">
      <h2>JOHNNY HALLYDAY : UN SPECTACLE HOMMAGE SE PRÉPARE POUR 2019!</h2>
      <p>Lors d’un spectacle spécial, cinq artistes de tous âges reprendront les tubes de Johnny Hallyday accompagnés de danseurs et de musiciens. Un hommage retraçant la carrière du chanteur et marquant les deux ans de sa disparition.</p>
    </div>
    <% end %>
  </div>
</div>
