<%= link_to article["url"], target: "_blank", class: 'clickable-card' do %>
  <div class="long-card">
    <div class="news">
      <div class="news-image">
        <%= image_tag article["urlToImage"].nil? ? "" : article["urlToImage"], class: 'thumbnail' %>
      </div>
      <div class="content">
        <h2><%= article["title"] %></h2>
        <p><%= article["description"] %></p>
      </div>
    </div>
  </div>
<% end %>
