<%= link_to "#", class: 'clickable-card' do %>
  <div class="card">
    <div class="search_album text-center">
      <%= image_tag album["album"]["cover_medium"], alt: 'Album photo', class: 'album-photo' %>
      <h3 class="album-name"><%= album["album"]["title"] %></h3>
      <p class="album-style"></p>
    </div>
  </div>
<% end %>
