// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$color1 : #222831; //black banner
$color2 : #393e46; //black blue navbar
$color3 : #00cad1; // 'previous 00adb5 Blue font'
//$color3 : #00adb5;
$color4 : #eeeeee; // white/grey font body
$color5 : #0B1219;  // OSEF
$background: #222831;
$font: white;
$dark-font: #222831;
