.landing {
  color: white;
  // text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  background-image: linear-gradient(-225deg, rgba(13,18,25,0.2) 0%, rgba(13,18,25,0.3) 50%), asset-url('landing.jpg')
}
.landing-content{
  margin-left: 15%;
}
.landing h1 {
  font-size: 4.6vw;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
@media (max-width: 800px) {
  .landing {
    height: 27vh;
  }
 }

.btn-landing{
  // font-size: 25px;
  // background-color: $color5;
  // border-radius: 10px;
  // padding: 20px 25px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: $color4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  &:hover{
    background-color: $color5;
    color: #fff;
  }
  &:active{
    background-color: $color2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

// .landing p {
//   font-size: 25px;
//   font-weight: lighter;
//   color: rgb(255, 255, 255);
//   opacity: 0.6;
//   margin-bottom: 30px;
// }
