.delete-playlist {
  width: 100%;
  text-align: right;
}

.add-fucking-playlist{
  height: 5vh;
  width: 100%;
  text-align: right;
  font-size: 20px;

}

.centered{
  text-align: center;
}
#no-playlist{
  height: 200px
}
#button-add{
  color: $color2;
  margin-top: 12px;
  font-weight: 800;
  * {
  padding: 0px 10px;

}
}
.playlist-table td{
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 22%;
  border-bottom: 1px solid rgba(238,238,238,0.2);
  a {
    color: $font;
    text-decoration: none;
  }
}


.playlist-table th{
  width: auto!important;
}

.action-playlist{
  width: 20%!important;
}

.playlist-container .tab-self a {
  padding: 10px 10px!important;
}

.playlist-container{
  // overflow: auto;
  height: auto;
}
.playlist{
  box-shadow: none;
}

@media (max-width: 800px) {
.playlist-table td{
  font-size: 14px;
}
}
