<div class="banner">
  <div class="logo">
    <%= link_to root_path, class: "home" do%>
      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="banner-txt">
    EXPLORE ALL POSSIBILITIES OF MUSIC
  </div>

</div>
