


<div class="container-home-artist">

  <ul class="nav nav-tabs">
    <li class="active tab-self"><a data-toggle="tab" href="#popular">Popular</a></li>
    <li class="tab-self"><a data-toggle="tab" href="#new">New</a></li>
    <li class="tab-self"><a data-toggle="tab" href="#recommended">Recommended</a></li>
  </ul>

  <div class="tab-content">
    <div id="popular" class="tab-pane fade in active">
      <h3>Popular artist</h3>
      <div id = 'popular-content'>
      <%= render 'shared/carroussel' %>
      </div>
    </div>
    <div id = "new" class="tab-pane fade">
      <h3>New</h3>
      <div id = "new-content">
      <%= render 'shared/carroussel' %>
      </div>
    </div>
    <div id="recommended" class="tab-pane fade">
      <h3>Recommended</h3>
      <p id = 'recommended-content'>
        <%= render 'shared/carroussel' %>
      </p>
    </div>
  </div>
</div>


<div class="container-home-news">

  <ul class="nav nav-tabs">
    <li class="active tab-self"><a data-toggle="tab" href="#news">News</a></li>
    <li class="tab-self"><a data-toggle="tab" href="#ynews">Your news</a></li>
  </ul>

  <div class="tab-content">
    <div id="news" class="tab-pane fade in active">
      <h3>General News</h3>
      <p>Here our news</p>
    </div>
    <div id="ynews" class="tab-pane fade">
      <h3>News selected for you</h3>
      <p>Here your news</p>
    </div>
  </div>
</div>
