<div class="landing">
  <div class="landing-content">
    <h1>Explore </br> all possibilities </br>of music</h1>
    <div class="text-center">
      <%= link_to "Let's play", home_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="container-value">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="card-landing">
        <div class="card-display">
          <div class="card-picto">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <h6>SEARCH ARTISTS</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="card-landing">
        <div class="card-display">
          <div class="card-picto">
            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <h6>FIND ALBUMS</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="card-landing">
        <div class="card-display">
          <div class="card-picto">
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <h6>YOUR FAVORITES</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="card-landing">
        <div class="card-display">
          <div class="card-picto">
            <i class="fa fa-microphone" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <h6>LYRICS OF SONGS</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="card-landing">
        <div class="card-display">
          <div class="card-picto">
            <i class="fa fa-youtube" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <h6>MUSIC CpP</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="card-landing">
        <div class="card-display">
          <div class="card-picto">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <h6>MUSIC NEWS</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-partner">
  <div class="text-center">
    <h5>Our partners</h5>
  </div>
  <div class="text-center">
    <div class="row">
      <div class="col-xs-4 col-md-2">
        <p>MTV-News</p>
      </div>
      <div class="col-xs-4 col-md-2">
        <p>Deezer</p>
      </div>
      <div class="col-xs-4 col-md-2">
        <p>Youtube</p>
      </div>
      <div class="col-xs-4 col-md-2">
        <p>Wikia</p>
      </div>
      <div class="col-xs-4 col-md-2">
        <p>MetroLyrics</p>
      </div>
      <div class="col-xs-4 col-md-2">
        <p>Le Wagon</p>
      </div>
    </div>
  </div>

</ul>
</div>
