<div class="container-home-artist">

  <div class="tab-content">
    <% if @artists["data"].empty? %>
      <h2 class="text-center">No artists found</h2>
    <% else %>
      <div id="popular" class="tab-pane fade in active">
        <div id = 'popular-content'>
          <%= render 'shared/search_artist_carroussel' %>
        </div>
      </div>
      <div id = "new" class="tab-pane fade">
        <div id = "new-content">
          <%= render 'shared/search_artist_carroussel' %>
        </div>
      </div>
      <div id="recommended" class="tab-pane fade">
        <div id = 'recommended-content'>
          <%= render 'shared/search_artist_carroussel' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container-search-albums">
  <div class="tab-content">
    <% if @albums["data"].empty? %>
      <h2 class="text-center">No albums found</h2>
    <% else %>
      <%= render 'shared/album_carroussel' %>
    <% end %>
  </div>
</div>

