<div class="container-artist-information">
  <div class="photo-artist">
    <%= cl_image_tag current_user.photo %>
  </div>
  <div class="info-artist">
    <h3 id="artist-name"></h3>
    <%= link_to "see wiki", "https://www.rollingstone.com/music/artists/nirvana/biography", id: "wiki-link" %>
    <%= link_to "add to playlist", ""  %>
    <p>rating</p>
  </div>
  <div class="album-carroussel">
    Ceci est un caroussel d'album
  </div>
</div>
<div class="details-body">
  <div class="left-side">
    <h3>Tracks</h3>
    <ul>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
      <li>Smell like teen spirits</li>
    </ul>
  </div>
  <div class="right-side">
    <div class="container-show">
        <div class="row">
          <div class="col-xs-6 space-padding">
            <div class="card-show">
              Video
            </div>
          </div>
          <div class="col-xs-6 space-padding">
            <div class="card-show">
              Lyrics
            </div>
          </div>
          <div class="col-xs-6 space-padding">
            <div class="card-show">
              Traductions
          @</div>
          </div>
          <div class="col-xs-6 space-padding">
            <div class="card-show">
              Goodies
            </div>
          </div>
          <div class="col-xs-6 space-padding">
            <div class="card-show">
              Pictures
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
