
$banner-size: 70px;
$navbar-size: 220px;
.banner{
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  z-index: 500;
  height: $banner-size;
  background-color: $color5;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
}
.banner-txt {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  font-size: 2.3em;
  // position: relative;
  color: $color4;
}

.logo {
  text-align: center;
  font-size: 3em;
  width: $navbar-size;

}
