.card-show{
  height: 400px;
  // background-color: #2B2957;
  background: linear-gradient(rgba(13,18,25,0.9),rgba(13,18,25,0.7));
  border-radius: 4px;
  box-shadow: 1px 1px 2px $color2;
  padding: 7px;
}

.space-padding{
  padding:0px 10px;
  padding-bottom: 10px;
}
