.container-common {
  // background: linear-gradient(rgba(13,18,25,0.7),rgba(13,18,25,0.9));
  background: $background;
  border-radius: 4px;
  box-shadow: 1px 1px 2px $color2;
}

.container-home-artist {
  padding: 20px 20px;
  height: 380px;
  // background: linear-gradient(rgba(13,18,25,0.9),rgba(13,18,25,0.7));
  background: $background;
  border-radius: 4px;
  box-shadow: 1px 1px 2px $color2;

}

.container-home-news {
  height: 1000px;
  // background: linear-gradient(rgba(13,18,25,0.7),rgba(13,18,25,0.9));
  background: $background;
  border-radius: 4px;
  padding: 20px 20px;
  box-shadow: 1px 1px 2px $color2;
}

.container-search-albums{
  padding: 20px 20px;
  height: auto;
  margin-bottom: 10px;
  // background: linear-gradient(rgba(13,18,25,0.9),rgba(13,18,25,0.7));
  background: $background;
  border-radius: 4px;
  box-shadow: 1px 1px 2px $color2;
}

.container-artist-information{
  display: flex;
  // background: linear-gradient(rgba(13,18,25,0.7),rgba(13,18,25,0.9));
  background: $background;
  border-radius: 4px;
  box-shadow: 1px 1px 2px $color2;
  width: calc(100% - 6px);
  margin-bottom: 20px;
}

.container-show{
  width:100%;
  padding: 10px;
}

.container-home-news .tab-content {
  overflow: auto;
  height: 95%;
}

.flex-container {
  display:flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.container-value{
  margin-top: 30px;
  padding: 20px 20px;
  // background: linear-gradient(rgba(13,18,25,0.9),rgba(13,18,25,0.7));
  border-radius: 4px;
  // box-shadow: 1px 1px 2px $color2;
}

.container-partner{
  color: $color2;
  padding: 20px 20px;
  // background: linear-gradient(rgba(13,18,25,0.1),rgba(13,18,25,0.2));
  background: $background;
  .flex-list{
    display: flex;
    justify-content: space-around;
  }
}


@media (max-width: 800px) {
  .container-home-artist {
    padding: 0px 1px;
    height: auto;
  }
  .container-artist-information{
    display: block;
  }
}
