.carousel-control {
  background: none!important;
  margin: 0px -50px!important;
  &:focus {
    opacity: 0.5;
  }
  &:hover {
    opacity: 0.9;
  }
}

.carousel-inner {
  margin-top: 15px;
  width: 100%;
}

.carousel {
  height: 300px;
  padding: 25px 0;
  background: none!important;
}

.carousel-indicators {
  bottom: -10px!important;
  display: none!important;
}

@media (max-width: 800px) {
.desktop{
  display: none;
}
.carousel-control{
  margin: 0px 0px!important;
}
.carousel {
  padding: 2px 0;
  height: auto;
}
}
