.artist {
  .artist-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  .artist-name {
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 23px;
    color: $color4;
  }
  .artist-style {
    opacity: .5;
    font-size: 16px;
  }
}


.clickable-card, .clickable-card:hover {
  text-decoration: none;
  color: inherit;
}
