#logo-mtv {
  width: 90px;
  margin: auto 10px;
}

#logo-deezer, #logo-youtube {
  width: 170px;
  padding: 20px auto;
  margin: auto 10px;
}

#logo-metrolyrics {
  width: 250px;
}

#logo-wagon {
  width: 90px;
}

