.tab-self a {
  background: none!important;
  border: none !important;
  color: $color3 !important;
  padding: 10px 60px !important;
  &:hover {
    // color: white!important;
    color: $color4!important;
    transition: 0.7s!important;
  }
}

.nav-tabs {
  border: none !important;
  justify-content: space-around !important;
}

ul .active {
  border-bottom: 2px solid $color3!important;
  * {
  // color: white !important;
  color: $color4!important;
  }
}

.container-home-artist {
  padding: 20px 20px;
  height: 40%;
  background: linear-gradient(rgba(13,18,25,0.9),rgba(13,18,25,0.7));
  border-radius: 4px;
  box-shadow: 1px 1px 2px $color2;
}

.container-home-news {
  margin-top: 30px;
  height: 50%;
  background: linear-gradient(rgba(13,18,25,0.7),rgba(13,18,25,0.9));
  border-radius: 4px;
  padding: 20px 20px;
  box-shadow: 1px 1px 2px $color2;
}
