.tab-self a {
  background: none!important;
  border: none !important;
  color: $color3 !important;
  padding: 10px 60px !important;
  &:hover {
    // color: white!important;
    color: $color4!important;
    transition: 0.7s!important;
  }
}

.nav-tabs {
  border: none !important;
  justify-content: space-around !important;
}

ul .active {
  border-bottom: 2px solid $color3!important;
  * {
  // color: white !important;
  color: $color4!important;
  }
}


